*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background: lightgray;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: 100%;
}

.login-header{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.h1{
    text-align: center;
    color:black;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 15px;
}   

input {
    width: 100%;
    padding: 14px 16px;
    margin:0 10 0 10px;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s;
}

input:focus {
    outline: none;
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 55px;
}   

.toggle-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-left: black solid 1px;
    font-size: 20px;
    cursor: pointer;
    color: #777;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    transition: all 0.2s;
    padding-left: 10px;
    height:90%;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s;
}

.login-btn:hover {
    background: #5a6fd8;
    transform: translateY(-2px);
}

footer{
    text-align: center;
    margin-top: 20px;
    color: black;
}

footer a{
    color: #667eea;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover{
    text-decoration: underline;
}